* text=auto !eol
/Makefile.am -text
/apertium-pl-dsb.dsb.metadix -text
/apertium-pl-dsb.pl-dsb.dix -text
/buscaPar.xsl -text
dev/corp.pl -text
dev/sentences -text
dev/sentences-bare -text
/principal.xsl -text
